/*button { width: 100px; height: 40px; background: white; color: Black; margin: 10px; }

/* make all tags with the "cool" class name have blue text */
/*.cool { color: blue; }



/* make the button with ID "delete" red */
