body, html {
  height: 100%;
  margin: 0;
}

h2 {
  margin: 5;
}

div.block_area{
  border: none;
  background-color: #E6E6E6;
  width: 450px;
  height: 450px;
  margin: 5;
  margin-top: 1.5em;
  border-radius: 5px;
}

div.output{
  font-size:120%;
  border: 1px solid #C0C0C0;
  width: 270px;
  height: 50px;
  margin: 5;
  margin-top: 0.7em;
  text-align: center;
  line-height: 240%;
  border-radius: 2px;
}

.row2 {
  margin: 5;
}

.add_form {
  margin: 5;
}

.blankf {
  margin: 5;
}

.header {
  font-size:17px;
}

.content {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.pure-button{
  display:inline-block;
  zoom:1;
  line-height:normal;
  white-space:normal;
  vertical-align:middle;
  text-align:center;
  cursor:pointer;
  -webkit-user-drag:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  box-sizing:border-box
}

.pure-button::-moz-focus-inner{
  padding:2;
  border:2
}

.pure-button-group{
  letter-spacing:1em;
  text-rendering:optimizespeed
}
.opera-only :-o-prefocus,.pure-button-group{word-spacing:-.43em}

.pure-button{
  font-family:inherit;
  font-size:120%;
  padding:2em 1em;
  color:#444;
  color:rgba(0,0,0,.8);
  border:1px solid #999;
  border:transparent;
  background-color:#E6E6E6;
  text-decoration:none;
  border-radius:2px
}

.pure-button-hover,.pure-button:focus,.pure-button:hover{
  filter:alpha(opacity=90);
  background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
  background-image:linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1))
}
